* {
    box-sizing: border-box;
}

main {    
    padding: 20px;
    height: auto;
    color: white;
    text-align: center;
    font-size: 20px;
}

h1 {
    margin-bottom: 60px;
}

main .alta-form {
    background-color: rgba(0, 0, 0, .5);
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    border: 1px solid #a97416;
    transition: all 1s 0s ease-out;
}

main .input-group {
    text-align: center;
    padding: 3px;
}

main label {    
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
}

main label[for="envio"] {
    display: inline-block;
    margin: 10px 0;
}

main form button {    
    margin: 15px auto;
    display: block;
    width: 15%;
    height: 35px;
    background-color: #57224e;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    margin-top: 50px;
    font-family: "Merienda", cursive;
    transition: all 1s 0s ease-out;
}

main input {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    background-color:#95afc0;
    font-family: "Merienda", cursive;
    margin-bottom: 5px;
    border: 1px solid white;
}

main input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

main .alta-form:hover {
    border: 2px solid #a97416;
    background-color:rgba(0, 0, 0, .7);
}

main form button:hover {
    background-color: white; 
    color: #a97416;    
    border: 1px solid #a97416;
}






















