main {
    background-color:#ddd;
    padding: 20px;
    height: auto;
}

main h1 {
    text-align: center;
}

/* ----- Maquetado del formulario de alta ------- */
main .alta-form {
    background-color: #b63625;
    width: 80%;
    margin: 20px auto;
    padding: 30px;
    color: white;
    border-radius: 20px;
    border: 1px dashed yellow;
}

main .input-group {
    text-align: center;
    padding: 3px;
}

main label {
    color: #badc58;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
}

main label[for="envio"] {
    display: inline-block;
    margin: 10px 0;
}

main form button {
    /* text-align: center; */
    margin: 15px auto;
    display: block;

    width: 40%;
    height: 35px;
    background-color: #6ab04c;
    border-radius: 10px;
    font-size: 20px;
    color: #130f40;
}

main input {
    width: 70%;
    height: 30px;
    border-radius: 5px;
    background-color:#95afc0;
}

main input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/* ----- Maquetado de la tabla de productos ------- */
main th,td {
    border: 1px solid black;
    width: 80px;
    height: 30px;
    padding: 10px;
}

main table {
    border-collapse: collapse;
    margin: 5px auto;
}

main th {
    text-transform: uppercase;
    background-color: #111;
    color: white;
}

main h2 {
    text-align: center;
}




















