@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Merienda", cursive;
    background-image: url(..//img/HPbcg-callejon-diagon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ul,
h1,
h3,
p {
    margin: 0;
}

header {
    width: 100%;
    height: auto;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

header nav ul {
    list-style: none;
    padding: 5px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

header nav ul li a {
    text-decoration: none;
    display: block;
    width: 100px;
    height: 40px;    
    background-color: rgba(0, 0, 0, .5);
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    transition: all 1s 0s ease-out;
    font-size: 20px;
}

header>div {
    background-color: #1b3b26;
    height: 70px;   
    display: flex;
    justify-content: start;
    align-items: start;
}


#logo { 
    background-image: url(../img/Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    transform: translateY(-40px);
    color: white;
    width: 20%;
    height: 150px;
    text-align: center;  
}

#barra-busqueda {    
    width: 60%;
    height: 70px;
    text-align: center;
    line-height: 70px;     
}

#barra-busqueda form input[type="text"] {
    background-color: #95afc0;
    border: 1px solid white;
    padding: 2px;
    color: black;
    width: 50%;    
    border-radius: 5px;    
    font-family: "Merienda", cursive;
    font-size: 20px;
    transition: border 1s 0s ease-out;
}

#barra-busqueda form input[type="submit"] {
    background-color: #57224e;
    border: 1px solid white;
    padding: 2px;
    color: white;
    width: 100px;
    border-radius: 5px;
    font-family: "Merienda", cursive;
    font-size: 20px;
    transition: all 1s 0s ease-out;
}

main {
    height: 500px;
}

footer {
    background-color: #57224e;
    color: white;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
}

header nav ul li a:hover {
    background-color: white;
    color: #a97416;
    border: 1px solid #a97416;
}

#barra-busqueda form input[type="submit"]:hover {
    background-color: white;
    color: #a97416;
    border: 1px solid #a97416;
}
